{% extends 'base.html' %} {% block content %} {% load static %}

<section class="hero-wrap hero-wrap-2" style="background-image: url(/static/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">About Us</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index'%}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
                <div class="img" style="background-image: url(/static/images/about.jpg); "></div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">Crescent Institute of Science and Techonology</h2>
                <h2 class="mb-4">Our Mission</h2>
                <ul>
                    <p>To blossom into an internationally renowned Institute.</p>

                    <p>To empower the youth through quality and value-based education.</p>
                    <p>To promote professional leadership and entrepreneurship.</p>
                    <p>To achieve excellence in all its endeavors to face global challenges.</p>
                    <p>To provide excellent teaching and research ambience.</p>
                    <p>To network with global Institutions of Excellence, Business, Industry and Research Organizations.</p>
                    <p>To contribute to the knowledge base through scientific enquiry, applied research and innovation.</p>
                </ul>
                <h2 class="mb-4">Our Vision</h2>
                <ul>
                    <p>B.S.Abdur Rahman Crescent Institute of Science and Technology aspires to be a leader in Education, Training and Research in multidisciplinary areas of importance and to play a vital role in the Socio-Economic progress of the country
                        in a sustainable manner.</p>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/static/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">
                <div class="img img-video d-flex align-items-center" style="background-image: url(/static/images/c2.jpg);">
                    <div class="video justify-content-center">
                        <!-- <a href="" class="icon-video popup-vimeo d-flex justify-content-center align-items-center"> -->
                        <!-- <span class="ion-ios-play"></span> -->
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4">Crescent University</h2>
                <p>B.S. Abdur Rahman Crescent Institute of Science and technology is a renowned Quality Leadership Institution located at the greenest spot of Chennai near Tambaram. Through our long history of 36 years of excellence, the Institution has
                    offered access to a wide range of academic opportunities.</p>
                <p> With 46 programmes, grouped under 12 different Schools, 27 Undergraduate programmes, 19 Postgraduate programmes, and Ph.D. (in all the departments), this institution is a rising stalwart in higher education with promising Quality, Security
                    and Placement.</p>
            </div>
        </div>
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="200" aria-details="++">0</strong>

                                <span>Certified Teachers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="301">0</strong>
                                <span>Events</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="70">0</strong>
                                <span>Courses</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="120">0</strong>
                                <span>Awards Won</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Parents Says About Us</h2>
                <p>This information allows us to see where our strengths lie and also the areas in which we need to improve.</p>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(/static/images/f2.jpg)">
                            </div>
                            <div class="text ml-2">
                                <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>My daughter is very happy, the teaching staff are very good at nurturing and developing the students academic skills as well as social interaction..</p>
                                <p class="name">Mrs.Radha</p>
                                <span class="position">Mother</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(/static/images/m1.jpg)">
                            </div>
                            <div class="text ml-2">
                                <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>I love this College, keep it up, good teachers - you guys are so welcoming.</p>
                                <p class="name">Mr.Shankar </p>
                                <span class="position">Father</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url(/static/images/f2.jpg)">
                            </div>
                            <div class="text ml-2">
                                <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>My child is very happy at this school and they love how they do not get bullied.</p>
                                <p class="name">Mrs.Priya</p>
                                <span class="position">Mother</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/1a.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/1a.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/2a.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/2a.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/4a.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/4a.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/3a.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/3a.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

{% endblock %}